/* Common styles */
.about-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: -2.8rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 5rem;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.icon-item:hover {
  background-color: white;
}

.icon-item:hover svg {
  transform: scale(1.2);
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5rem;
  gap: 5rem;
}

.centered-container p {
  text-align: center;
}

.centered-container svg {
  width: 150px;
  height: 100px;
}

.footer-container {

  width: calc(100% + 29px); /* Adjusted width to accommodate the 30px gap on each side */
  clip-path: polygon(170% 0%, -70% 0%, 50% 100%);
  
  width: calc(100% + 24px); /* Adjusted width to accommodate the 30px gap on each side */
  margin: 0 30px; /* Added margin to create the gap */
  height: 50rem; /* Adjust height as needed */
  background-color: #0c1446;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  margin-top: 1.5rem;
  margin-left: -1.5rem;
  height: 100px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons > * {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .icon-container {
    flex-direction: column;
    align-items: center;
  }

  .centered-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
.about-content {
  width: 200px;
  height: 50rem; 
  background-image: radial-gradient(circle at 50px 50px, rgba(2, 0, 0, 0) 0%, rgba(0, 2, 5, 0) 5px, rgba(0, 0, 0, 1) 5px, rgba(0, 0, 0, 1) 10px, rgba(243, 243, 245, 1) 10px);
  clip-path: polygon(-70% 0%, 170% 0%, 50% 100%);
  width: calc(100% + 80px);
  margin-left: -5rem;
  color: white;
  height: 10rem;
  margin-top: -10px;
}

